@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
}

body h3:hover {
  cursor: pointer;
}

body header {
  background-image: url(/images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  font-family: "Barlow";
  color: white;
  text-align: center;
}

body header h1 {
  font-size: 3.5rem;
  margin: 150px;
  font-family: 'Faunces';
}

body header .container {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .container .logo {
  font-weight: bolder;
}

body header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body header .container nav ul {
  list-style: none;
}

body header .container nav ul li {
  display: inline;
  margin-right: 30px;
}

body header .container nav ul a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

body header .container nav .contact_btn {
  background-color: white;
  border: 0;
  width: 100px;
  height: 50px;
  border-radius: 30px;
  font-family: 'Faunces';
  font-weight: 900;
  cursor: pointer;
}

body header .container nav .contact_btn:hover {
  color: white;
  background-color: #6fcfff;
}

body .body {
  font-family: 'Faunces';
}

body .body .yellow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fad400;
}

body .body .yellow .yellow_content {
  background-color: white;
  text-align: left;
  padding: 10%;
  width: 50%;
}

body .body .yellow .yellow_content p {
  margin: 20px 0 20px 0;
  color: #818498;
  font-family: 'Barlow';
}

body .body .yellow .yellow_content h3 {
  -webkit-text-decoration: underline #fad400 3px;
          text-decoration: underline #fad400 3px;
}

body .body .pink {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: #fe7867;
}

body .body .pink .pink_content {
  background-color: white;
  text-align: left;
  padding: 10%;
  width: 50%;
}

body .body .pink .pink_content p {
  margin: 20px 0 20px 0;
  color: #818498;
  font-family: 'Barlow';
}

body .body .pink .pink_content h3 {
  -webkit-text-decoration: underline #fe7867 3px;
          text-decoration: underline #fe7867 3px;
}

body .body .blue {
  width: 100%;
}

body .body .blue .cherry {
  background-image: url(/images/desktop/image-graphic-design.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 50vh;
}
/*# sourceMappingURL=styles.css.map */